{% extends 'base.html' %} {% block title %}Add{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Add Words</title>
    </head>
    <body>
        <div>
            <h1>Add Words</h1>
            <form id="wordForm">
                <label for="word">Word:</label>
                <input name="word" id="word" />

                <label for="comments">Comments:</label>
                <textarea
                    name="comments"
                    id="comments"
                    rows="3"
                    class="auto-resize"
                    style="overflow: hidden; resize: none"
                ></textarea>

                <div style="display: flex; gap: 4px">
                    <button type="reset">Discard</button>
                    <button id="submit-btn" type="submit" style="width: 100%">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>

<script>
    document.querySelectorAll("textarea.auto-resize").forEach((textarea) => {
        textarea.addEventListener("input", function () {
            this.style.height = "auto";
            this.style.height = this.scrollHeight + "px";
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const wordForm = document.getElementById("wordForm");
        const submitBtn = document.getElementById("submit-btn");

        wordForm.addEventListener("submit", async (event) => {
            event.preventDefault();
            submitBtn.disabled = true;

            try {
                const formData = new FormData(wordForm);
                const response = await fetch("{{ url_for('add') }}", {
                    method: "POST",
                    body: formData,
                });
                const data = await response.json();

                if (response.ok) {
                    wordForm.reset();
                } else {
                    alert(data.message);
                }
            } catch (err) {
                console.error(err);
                alert("Network error.");
            } finally {
                submitBtn.disabled = false;
            }
        });
    });
</script>
{% endblock %}
