{% extends 'base.html' %} {% block title %}Browse{% endblock %} {% block content
%}
<h1>Browse</h1>

{% for word, comment in words_and_comments %}
<div class="card" onclick="toggleActions(this)">
    <h2>{{ word }}</h2>
    <div class="actions" style="display: none">
        {% if comment %}
        <p>{{ comment }}</p>
        {% endif %}
        <div style="display: flex; gap: 2px; margin-top: 4px">
            <button
                class="delete"
                style="flex: 1"
                data-url="{{ url_for('delete', word=word) }}"
            >
                Delete
            </button>
            <button class="edit" style="flex: 1">Edit Comment</button>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function toggleActions(card) {
        const actions = card.querySelector(".actions");
        actions.style.display =
            actions.style.display === "none" ? "block" : "none";
    }

    const deleteBtns = document.querySelectorAll(".delete");

    deleteBtns.forEach((btn) => {
        btn.addEventListener("click", async () => {
            const url = btn.dataset.url;

            try {
                const response = await fetch(url, { method: "POST" });
                const data = await response.json();

                if (response.ok) {
                    btn.closest(".card").remove();
                } else {
                    alert(data.message);
                }
            } catch (err) {
                console.error("Network error:", err);
                alert("Error deleting word.");
            }
        });
    });
</script>

{% endblock %}
