{% extends 'base.html' %} {% block title %}Browse{% endblock %} {% block content
%}
<h1>Browse Words</h1>

{% for word in words %}
<div class="card" onclick="toggleActions(this)">
    <h2>{{ loop.index }}. {{ word[0] }}</h2>
    <div class="actions" style="display: none">
        <ul>
            <li><b>Comment:</b> {{ word[1] }}</li>
            <li><b>Created at:</b> {{ word[2] }}</li>
            <li><b>Next review date:</b> {{ word[3] }}</li>
            <li><b>Interval days:</b> {{ word[4] }}</li>
        </ul>

        <div style="display: flex; gap: 2px; margin-top: 4px">
            <button class="delete" style="flex: 1" data-word="{{ word[0] }}">
                Delete
            </button>
            <button class="edit" style="flex: 1">Edit Comment</button>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function toggleActions(card) {
        const actions = card.querySelector(".actions");
        actions.style.display =
            actions.style.display === "none" ? "block" : "none";
    }

    const deleteBtns = document.querySelectorAll(".delete");
    const deleteUrl = "{{ url_for('delete') }}";

    deleteBtns.forEach((btn) => {
        btn.addEventListener("click", async () => {
            const word = btn.dataset.word;

            try {
                const response = await fetch(deleteUrl, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ word: word }),
                });
                const data = await response.json();

                if (response.ok) {
                    btn.closest(".card").remove();
                } else {
                    alert(data.message);
                }
            } catch (err) {
                console.error(err);
                alert("Error deleting word.");
            }
        });
    });
</script>

{% endblock %}
