{% extends 'base.html' %} {% block title %}Review{% endblock %} {% block content
%}
<div>
    <h2 style="margin-bottom: 6px">{{ word }}</h2>
    <button id="showBtn" style="width: 100%">Show Answer</button>
    <div id="ease-btns" style="display: none; gap: 2px">
        <button style="flex: 1">Again</button>
        <button style="flex: 1">Hard</button>
        <button style="flex: 1">Good</button>
        <button style="flex: 1">Easy</button>
    </div>
    <hr />

    <div id="ans" style="display: none">
        <p><b>Comment: </b>{{ comment }}</p>
        <p id="definition"></p>
    </div>
</div>

<script>
    const ans = document.getElementById("ans");
    const btn = document.getElementById("showBtn");

    btn.addEventListener("click", () => {
        ans.style.display = "block";
        btn.style.display = "none";
        document.getElementById("ease-btns").style.display = "flex";
    });
</script>
{% endblock %}
