{% extends 'base.html' %} {% block title %}Review{% endblock %} {% block content
%}
<h1>Review Words</h1>
<h2 style="margin-bottom: 10px">{{ word }}</h2>
<button id="showBtn" style="width: 100%">Show Answer</button>
<div id="ease-btns" style="display: none; gap: 2px">
  <button style="flex: 1" data-interval-days="{{ all_interval_days[0] }}">
    Again ({{ all_interval_days[0] }}d)
  </button>
  <button style="flex: 1" data-interval-days="{{ all_interval_days[1] }}">
    Hard ({{ all_interval_days[1] }}d)
  </button>
  <button style="flex: 1" data-interval-days="{{ all_interval_days[2] }}">
    Good ({{ all_interval_days[2] }}d)
  </button>
  <button style="flex: 1" data-interval-days="{{ all_interval_days[3] }}">
    Easy ({{ all_interval_days[3] }}d)
  </button>
</div>

<div id="ans" style="display: none">
  <hr style="margin: 12px 0 12px 0" />
  <p><b>Comment: </b>{{ comment }}</p>
  <ul id="definitions"></ul>
</div>

<script>
  const ans = document.getElementById("ans");
  const btn = document.getElementById("showBtn");
  const word = "{{ word }}";

  btn.addEventListener("click", () => {
    ans.style.display = "block";
    btn.style.display = "none";
    document.getElementById("ease-btns").style.display = "flex";
  });

  async function getDefinition() {
    const definitionsList = document.getElementById("definitions");

    const response = await fetch(
      `https://api.dictionaryapi.dev/api/v2/entries/en/${word}`
    );
    const data = await response.json();
    data[0].meanings.forEach((meaning) => {
      meaning.definitions.forEach((def) => {
        const li = document.createElement("li");
        li.innerHTML = def.definition;
        definitionsList.appendChild(li);
      });
    });
  }

  getDefinition();

  const easeBtns = Array.from(document.getElementById("ease-btns").children);

  easeBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      fetch('{{ url_for("update_review_date") }}', {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          word: word,
          "interval-days": btn.dataset.intervalDays,
        }),
      }).then((response) => {
        if (!response.ok) {
          alert("Error updating review date");
        } else {
          window.location.reload();
        }
      });
    });
  });
</script>
{% endblock %}
